## .NET
bin/
obj/
*.user
*.suo
.vs/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

## EF migrations SQLite DB
*.db
*.db-shm
*.db-wal

## Secrets / config local
appsettings.*.local.json
**/secrets.json

## Node / Angular
node_modules/
dist/
.angular/

## OS
.DS_Store
Thumbs.db
